.navbar {
  z-index: 2;
}

.fondo-icono {
  background-color: aqua;
}
.pie {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.espaciado {
  padding-top: 20px;
  padding-bottom: 20px;
}
